<mat-card>
  <h1>Add New Book</h1>
  <form #addForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Book Name" [(ngModel)] = "title"
                         name = "title"
                         required #spy
                         #temp = "ngModel">
        <mat-error *ngIf="!(temp.valid || temp.pristine)">
          Book name is required
        </mat-error>                        
      </mat-form-field>
      <br>
      <mat-form-field>
          <input matInput placeholder="Author Name" [(ngModel)] = "author"
                           name = "author"
                           required #spy
                           #temp = "ngModel">
          <mat-error *ngIf="!(temp.valid || temp.pristine)">
              Author name is required
          </mat-error>                        
        </mat-form-field>
  
      
      <div >
          <button mat-raised-button color="primary" [disabled]="!addForm.form.valid">{{buttonText}}</button>
     
        <button mat-raised-button routerLink="/books">Cancel</button>
    </div>
    </div>
  </form>
  </mat-card>