
<h3>Nice to see you again</h3>
<p>Fill you email and password to get in</p>

<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter your email" [(ngModel)] = "email"
      name = "email" 
      
      #temp = "ngModel">
      <mat-error *ngIf="!(temp.valid || temp.pristine)">
           Name is required
            </mat-error>         
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" 
      [(ngModel)] = "password"
               name = "password"
               >
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field></div>
    <div >
        <button mat-raised-button color="primary" (click)="onSubmit()" >Login</button>
        <button mat-stroked-button color="primary" routerLink="/posts" >Cancel</button> 
    </div>


<!-- This is a comment-->
