<p *ngIf = "!(books$ | async)">Loading..</p>
<p></p>
<button mat-raised-button color="primary" routerLink="/newbook" routerLinkActive="active">Add Book</button> 
<mat-accordion>
    <mat-expansion-panel *ngFor = "let book of books$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      by {{book.author}}  <br>
      <button mat-raised-button (click)=deleteBook(book.id)>Delete</button> 
      <button mat-raised-button color="primary" [routerLink]="'/newbook/'+book.id" >Update</button> 
    </mat-expansion-panel>
  </mat-accordion>
  

